.enlace1{
    position: absolute;
    top: 2.8%;
    left: 5%;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

  .enlace2{
    position: absolute;
    top: 2.8%;
    left: 13%;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.enlace3{
    position: absolute;
    top: 2.8%;
    left: 18%;
    font-weight: bold;
    font-size: 20px;
    color: white;
}